@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  --color-pure-white: hsl(0, 0%, 100%);
  --color-very-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-very-light-gray: hsl(0, 0%, 98%);

  --shadow-gray: hsl(213, 47%, 67%, 50%);
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;

  font-size: 15px;
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Mobile: 375px
    Desktop: 1440px */
  background: var(--color-very-light-gray);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.content {
  background: var(--color-very-light-gray);
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  padding: 80px 165px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 540px;

  text-align: center;
}

.hero-title {
  font-size: 36px;
  letter-spacing: 0.25px;
  font-weight: 200;

  display: flex;
  flex-direction: column;
}

.hero-description {
  font-weight: 400;
  opacity: 0.5;
}

.hero-title span {
  font-weight: 600;
}

.card-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);

  justify-items: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 350px;
  height: 250px;

  background: var(--color-pure-white);
  color: var(--color-very-dark-blue);

  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 15px 30px -11px var(--shadow-gray);

  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  display: block;
  position: absolute;

  width: 100%;
  height: 4px;

  top: 0;
  left: 0;
}

.card-title {
  font-weight: 600;
  font-size: 20px;

  margin-bottom: 6px;
}

.card-description {
  font-weight: 400;
  opacity: 0.5;
  line-height: 23px;
  letter-spacing: 0.09px;

  margin-bottom: 40px;
  font-size: 13px;
}

.card-image {
  margin-left: auto;
}

.card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.card:nth-child(1)::before {
  background: var(--color-cyan);
}

.card:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.card:nth-child(2)::before {
  background: var(--color-red);
}

.card:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.card:nth-child(3)::before {
  background: var(--color-orange);
}

.card:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.card:nth-child(4)::before {
  background: var(--color-blue);
}

@media only screen and (max-width: 1000px) {
  .content {
    padding: 85px 32px;
  }

  .hero-title {
    font-size: 24px;
    letter-spacing: 0.17px;
  }

  .hero-description {
    line-height: 25px;
    letter-spacing: 0.1px;
    max-width: 311px;
  }

  .card-preview {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .card {
    width: 311px;
    height: 222px;
    padding: 28px;
  }

  .card-title {
    margin-bottom: 1px;
  }

  .card-description {
    margin-bottom: 33px;
  }

  .card-image {
    width: 57px;
    height: 57px;
  }
}
